.midone {
  margin-top: 210px;
  margin-bottom: 98px;
  display: flex;
  h4 {
    color: $secondary-black;
    font-size: 23px;
    font-weight: 500;
  }
  h1 {
    width: 700px;
    margin-top: 30px;
    font-size: 68px;
    color: $secondary-brown;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
  }
  p {
    margin-top: 25px;
    width: 518px;
    color: #826f8c;
    font-size: 18px;
    font-style: normal;
    line-height: 29px;
  }
  button {
    @include mainBtn;
    margin-top: 15px;
  }
  .slogan2 {
    position: relative;
    margin-top: 75px;
    margin-left: 76px;
    .arrow {
      position: absolute;
      left: 270px;
      top: 350px;
    }
  }
}
